@import "./--variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');




/*----Set color theme------*/

//Light Mode
html[data-theme="light"] {
    .weather_card {
        @include lightStyle;
        .weather_item {
            background: transparentize($color: $darkColor, $amount: 0.9)
        }
    }
    .temp_hour .hour {
        background: rgba(37, 52, 85, 0.151);
        border: 1px solid rgba(22, 38, 68, 0.281);
    }
}

//Dark Mode
html[data-theme="dark"] {
    .weather_card {
        @include darkStyle;
        .weather_item {
            background: transparentize($color: $lightColor, $amount: 0.9)
        }
    }
    .menu {
        background: #10131d8e;
    }

    .temp_hour .hour {
        background: rgba(209, 209, 209, 0.151);
        border: 1px solid rgba(209, 209, 209, 0.281);
    }
}



* {
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}

.weather_card {
    position: relative;
    margin: 0px;
    width: 500px;
    min-height: 400px;
    z-index: 1;
    overflow: hidden;
}

.weather_card_wrapper {
    margin: 0px;
    padding: 30px 50px;
    display: grid;
    grid-template-rows: 5fr 5fr;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.current_weather_infos {
    display: grid;
    grid-template-rows: 2fr 7fr 2fr;

    .condition_date {
        display: flex;
        gap: 10px;
        align-items: flex-end;

        p {
            font-size: small;
            font-weight: bold;
            background: rgba(255, 255, 255, 0.199);
            padding: 5px 10px;
            border-radius: 15px;
        }
    }

    .temp_hour {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .temp {
            font-size: 6.5em;
            font-weight: 600;
            text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.432);
        }

        .hour {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 10px; 
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            backdrop-filter: blur(1px);
        }
    }
}

.future_weather_infos {
    width: 100%;
    overflow: hidden;

    .pagination {
        margin-bottom: 10px;

        .pagination_link {
            color: white;
            font-weight: bold;
            margin-right: 20px;
        }
    }

    .weather_items_container {
        width: 100%;
        overflow-x: auto;
        padding: 10px 0;
        display: flex;
        gap: 10px;

        .weather_item {
            flex-shrink: 0;
            font-size: small;
            width: 80px;
            min-height: 115px;
            background: rgb(255 255 255 / 23%);
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            backdrop-filter: blur(2px);

            .temperature {
                font-weight: bold;
            }

            img {
                width: 40px;
                margin: 10px auto;
            }
        }
    }
}



.menu {
    display: block;
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    height: 100%;
    background: rgba(216,216,216,.369);
    padding: 20px;
    padding-top: 60px;
    backdrop-filter: blur(20px);
    transform: translateX(100%);
    transition: transform .5s ease;

    .menu_option {
        border-radius: 5px;
        padding: 10px;
        margin: 5px 0;
        display: grid;
        grid-template-columns: 30px 1fr;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease-in;

        &:hover {
            background: rgb(0 0 0 / 20%);
        }

        .option_icon svg {
            width: 15px;
        }
    
    }
}

.dark_toggle_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .switcher {
        position: relative;
        cursor: pointer;
        display: block;
        min-width: 34px;
        outline: 0;
        width: 34px;
        z-index: 1;
    
        &:has(#dark_toggle:checked) {
            #knob {
                background-color: #ffb400;
                transform: translate3d(18px,0,0);
            }
        }
        #knob {
            background-color: white;
            border-radius: 50%;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
            display: block;
            height: 16px;
            position: relative;
            transition: transform linear 80ms,background-color linear 80ms;
            width: 16px;
        }
        #bar {
            background: rgb(108 108 108 / 27%);
            border-radius: 8px;
            height: 12px;
            left: 3px;
            position: absolute;
            top: 2px;
            transition: background-color linear 80ms;
            width: 28px;
            z-index: 0;
        }
        #dark_toggle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        
        
    }
}



/* ------Scrollbar stylizing------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(0 0 0 / 27%);
    border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #363636a3;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



.menu_btn_container {
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99;
}
 



  .menu_btn_container label{
   display:flex;
    flex-direction:column;
    width:30px;
    cursor:pointer;
    z-index: 99;
  }
  
  .menu_btn_container label span{
    background: #252525;
    border-radius:10px;
    height:3px;
    margin: 3px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  
  }
  
  
  .menu_btn_container span:nth-of-type(1){
    width:50%;
    
  }
  
  .menu_btn_container span:nth-of-type(2){
    width:100%;
  }
  
  
  .menu_btn_container span:nth-of-type(3){
    width:75%;
   
  }
  
  
  .menu_btn_container input[type="checkbox"]{
    display:none;
  }
  
  
  .menu_btn_container  input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(3px,0px)
  }
  
  
  .menu_btn_container input[type="checkbox"]:checked ~ span:nth-of-type(2){
    
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  
  
  .menu_btn_container input[type="checkbox"]:checked ~ span:nth-of-type(3){
    
    transform-origin:bottom;
    width:50%;
    transform: translate(13px, -4px) rotatez(45deg)
  
  }
  
  .weather_card:has(#menu_check:checked) {
    .menu {
        transform: translateX(0%);
    }
  }