@import "./--variables.scss";




/*----Set color theme------*/

//Light Mode
html[data-theme="light"] {

    .weather_card {
        @include lightStyle;
        .weather_item {
            background: transparentize($color: $darkColor, $amount: 0.9);
        }
    }
    .temp_hour .hour {
        background: rgba(37, 52, 85, 0.151);
        border: 1px solid rgba(22, 38, 68, 0.281);
    }
}

//Dark Mode
html[data-theme="dark"] {
    .weather_card {
        @include darkStyle;
        .weather_item {
            background: transparentize($color: $lightColor, $amount: 0.9);
        }
    }
    .menu {
        background: rgba(16, 19, 29, 0.557);
    }

    .temp_hour .hour {
        background: var(--hover-color);
        border: 1px solid rgba(209, 209, 209, 0.281);
    }
}



* {
    box-sizing: border-box;
}
body {
    font-family: $font-family;
    color: var(--main-text-color);
}

.weather_card {
    position: relative;
    margin: 0px;
    width: 500px;
    min-height: 400px;
    z-index: 1;
    overflow: hidden;
}

.weather_card_wrapper {
    margin: 0px;
    padding: 30px 50px;
    display: grid;
    grid-template-rows: 5fr 5fr;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.current_weather_infos {
    display: grid;
    grid-template-rows: 2fr 7fr 2fr;

    .condition_date {
        display: flex;
        gap: 10px;
        align-items: flex-end;

        p {
            font-size: small;
            font-weight: bold;
            background: var(--hover-color);
            padding: 5px 10px;
            border-radius: 15px;
        }
    }

    .temp_hour {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .temp {
            font-size: 6.5em;
            font-weight: 600;
            text-shadow: 0px 3px 5px var(--shadow);
        }

        .hour {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 10px; 
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            backdrop-filter: blur(1px);
        }
    }

    .location {
        display: flex;
        align-items: center;
        gap: 5px;

        .change_location button {
            background: transparent;
            color: var(--main-text-color);
            border: 1px solid var(--hover-color);
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                background: var(--main-text-color);
                color: var(--main-bg-color);
            }
        }
    }
}

.future_weather_infos {
    width: 100%;
    overflow: hidden;

    .weather_items_container {
        width: 100%;
        overflow-x: auto;
        padding: 10px 0;
        display: flex;
        gap: 10px;

        .weather_item {
            flex-shrink: 0;
            font-size: small;
            width: 80px;
            min-height: 115px;
            background: var(--hover-color);
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            backdrop-filter: blur(2px);

            .temperature {
                font-weight: bold;
            }

            img {
                width: 40px;
                margin: 10px auto;
            }
        }
    }
}



.menu {
    display: block;
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    height: 100%;
    background: rgba(216,216,216,.369);
    padding: 20px;
    padding-top: 60px;
    backdrop-filter: blur(20px);
    transform: translateX(100%);
    transition: transform .5s ease;

    .menu_option {
        border-radius: 5px;
        padding: 10px;
        margin: 5px 0;
        display: grid;
        grid-template-columns: 30px 1fr;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease-in;

        &:hover {
            background: var(--hover-color);
        }

        .option_icon svg {
            width: 15px;
            fill: var(--main-text-color);
        }
    
    }
}

.dark_toggle_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .switcher {
        position: relative;
        cursor: pointer;
        display: block;
        min-width: 34px;
        outline: 0;
        width: 34px;
        z-index: 1;
    
        &:has(#dark_toggle:checked) {
            #knob {
                background-color: #ffb400;
                transform: translate3d(18px,0,0);
            }
        }
        #knob {
            background-color: $lightColor;
            border-radius: 50%;
            box-shadow: 0 1px 3px 0 var(--shadow);
            display: block;
            height: 16px;
            position: relative;
            transition: transform linear 80ms,background-color linear 80ms;
            width: 16px;
        }
        #bar {
            background: rgb(108 108 108 / 27%);
            border-radius: 8px;
            height: 12px;
            left: 3px;
            position: absolute;
            top: 2px;
            transition: background-color linear 80ms;
            width: 28px;
            z-index: 0;
        }
        #dark_toggle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        
        
    }
}

/**--------Menu button--------**/


.weather_card:has(#menu_check:checked) {
    .menu {
        transform: translateX(0%);
    }
}


.menu_btn_container {
    width: 30px;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 99;

    label{
        display:flex;
        flex-direction:column;
        width:30px;
        cursor:pointer;

        span{
            background: var(--main-text-color);
            border-radius:10px;
            height:3px;
            margin: 3px 0;
            transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
            
            &:nth-of-type(1){
                width:50%;
            }
            &:nth-of-type(2){
                width:100%;
            }
            &:nth-of-type(3){
                width:75%;
            }
        }
    }

    input[type="checkbox"]{
        display:none;
    }

    input[type="checkbox"]:checked ~ span {
        &:nth-of-type(1){
            transform-origin:bottom;
            transform:rotatez(45deg) translate(3px,0px);
        }
        &:nth-of-type(2){
            transform-origin:top;
            transform:rotatez(-45deg);
        }
        &:nth-of-type(3){
            transform-origin:bottom;
            width:50%;
            transform: translate(13px, -5px) rotatez(45deg);
        }
    }
}
 
.change_location_modal {
    position: absolute;
    top: 5%;
    left: 0;
    width: 90%;
    height: 90%;
    transform: translateX(5%);
    background: var(--main-bg-color);
    border-radius: 10px;
    z-index: 199;

    .wrapper {
        padding: 20px;
    }

    .map_icon {
        width: 13px;
        z-index: 100;
        position: absolute;
        left: 36px;
        top: 27px;
        fill: gray;
    }

    .change_location_input {
        width: 100%;
        padding: 10px;
        padding-left: 50px;
        border: none;
        border-radius: 5px;
        left: 0;
        top: 0;
        box-shadow: 0 1px 3px 0 var(--shadow);
    }
    .saved_location_title {
        padding: 15px;
    }
    
    .saved_location_list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid var(--hover-color);
        transition: background .3s ease-out;
        &:hover {
            background: var(--hover-color);
        }
    }
    .location_infos span {
        display: block;

        &.location_town {
            font-weight: bold;
        }
        &.location_country {
            font-size: small;
        }
    }
    button.delete_location {
        background: transparent;
        width: 35px;
        height: 35px;
        padding: 0;
        border-radius: 50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .3s ease-out;

        &:hover {
            background: var(--hover-color);
        }

        svg {
            width: 15px;
        }
    }
}

/* ------Scrollbar stylizing------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(0 0 0 / 27%);
    border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #363636a3;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

